@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

:root {
  --primaryCol: rgb(53, 221, 221);
  --darkPrimaryCol: rgb(5, 30, 30);
  --secondaryCol: rgb(200, 80, 66);
  --tertiaryCol: rgb(255, 237, 73);
  --quaternaryCol: rgb(236, 92, 255);
}

.thin_text {
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.thick_text {
  font-family: "Comfortaa", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.futuristic_text {
  font-family: "Tilt Warp", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

.smooth_scroll {
  scroll-behavior: smooth;
}

.slightly_enlarge_hover {
  transform: scale(1.0);
  transition-duration: 0.15s;
}
.slightly_enlarge_hover:hover {
  transform: scale(1.05);
  transition-duration: 0.25s;
}

.primary_secondary_hover {
  transition-duration: 1s;
  color: white;
  animation: none;
}
.primary_secondary_hover:hover {
  transition-duration: 1s;
  color: var(--secondaryCol);
  animation: wave 0.6s ease-in-out infinite;
}

@keyframes wave {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-1px);
  }
}

.breathe-background {
  animation: breathe 6s ease-in-out infinite;
}

@keyframes breathe {
  0%, 100% {
    filter: brightness(0.85);
  }
  50% {
    filter: brightness(1.0);
  }
}

.float_y {
  transition-duration: 0.3s;
  animation: float_around_y 7s ease-in-out infinite;
}
.float_y:hover {
  transition-duration: 0.3s;
  animation: none;
}

@keyframes float_around_y {
  0%, 100% {
      transform: translateY(2%);
  }
  50% {
      transform: translateY(-2%);
  }
}

.type_effect {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  /* The initial typewriter and caret animations, run once (forwards). */
  animation: 
    typing 2.5s steps(50, end) forwards, 
    blink-caret 2.5s step-end forwards; 
  border-right: 0.15em solid var(--secondaryCol); /* The caret */
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  0%, 50% {
    border-color: var(--secondaryCol);
  }
  51%, 100% {
    border-color: transparent;
  }
}
.marked_primary{
  color: white;
  background-color: transparent;
  text-shadow: 0px 0px 0px var(--primaryCol), 0 0 30px var(--primaryCol), 0 0 10px var(--primaryCol);
}
.marked_secondary{
  color: white;
  background-color: transparent;
  text-shadow: 0px 0px 0px var(--secondaryCol), 0 0 30px var(--secondaryCol), 0 0 10px var(--secondaryCol);
}
.marked_tertiary{
  color: white;
  background-color: transparent;
  text-shadow: 0px 0px 0px var(--tertiaryCol), 0 0 30px var(--tertiaryCol), 0 0 10px var(--tertiaryCol);
}
.marked_quaternary{
  color: white;
  background-color: transparent;
  text-shadow: 0px 0px 0px var(--quaternaryCol), 0 0 30px var(--quaternaryCol), 0 0 10px var(--quaternaryCol);
}

.circular_image {
  object-fit:fill ;  /* Crop the image instead of stretching */
  
  border-radius: 20%; /* Fully circular */
  transition-duration: 0.3s; /* Smooth transition on hover */
  cursor: pointer;
  box-shadow: 0 5px 8px rgba(0,0,0,0.5);
}

.circular_image:hover {
  border-radius: 16%;
  transition-duration: 0.3s; /* Smooth transition on hover */
}
